.ExamDates {
  margin: auto;
  width: calc(100% - 200px);
  max-width: 1024px;
  min-width: 300px;
  height: 100%;
  align-items: center;
}

/* overrides checkbox border color */
.ExamDates label span {
  border: 1px solid hsla(0, 0%, 50%, 0.5) !important;
}

.ActionButtons {
  display: flex;
  margin-bottom: 5vh;
}

.ActionButtons button {
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px;
  border-radius: 2px;
  width: 220px;
}

.AdditionButton {
  background-color: hsla(199, 77%, 43%, 0.95);
}

.DeleteButton {
  background-color: hsla(358, 75%, 57%, 0.85);
}

.DisabledButton {
    background-color: hsl(0, 0%, 83%);
}

.ActionButtons .AdditionButton {
  margin-right: 2vw;
}


.ConfirmText {
  font-weight: bold;
  margin-bottom: 4vh;
  max-height: 300px;
}

.ConfirmButtons button {
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px;
  border-radius: 2px;
  width: 150px;
}

.ConfirmButton {
  background-color: hsla(199, 77%, 43%, 0.95);
}

.CancelButton {
  background-color: hsla(358, 75%, 57%, 0.85);
  margin-right: 2vw;
}

.Grid {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 1fr 0.4fr;
}

.Grid label {
  margin-top: 0;
}

.Grid h3 {
  margin: 0;
}

.Grid p {
  margin: 0;
  padding-bottom: 5vh;
}

.Heading {
  font-weight: bold;
}

.GridDivider {
  margin-bottom: 20px;
  margin-top: 20px;
}

.RegistrationDates {
  padding-bottom: 40px;
}

.RegistrationDates hr {
  border-color: hsl(0, 0%, 0%);
}

.ExamDatesListHeader {
  padding-top: 20px;
  padding-bottom: 20px;
}

.EditButton {
  background: none;
  border: none;
  width: 2em;
  height: 2em;
}

.ExamDateControls {
    display: flex;
    margin-bottom: 1em;
}

.PastExamDates {
    display: flex;
    padding-left: 20px;
    margin-left:auto;
    margin-right:0;
}

.PastExamDates > label {
    margin-top: 14px;
    margin-left: 10px;
}

.DisabledEditButton {
  background-color: hsl(0, 0%, 83%);
}

.LanguageList {
    /*list-style-image: url('../../assets/svg/chevron-right.svg');*/
    margin-bottom: 10px;
    padding-inline-start: 20px;
    margin-top: 0 !important;
}

.LanguageList li {
    margin-bottom: 10px;
}

.LanguageList li::marker {
    margin-top: 4px;
    content: "› ";
}

.DeleteModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
