.TextInput {
  width: 200px;
  height: 28px;
  border: 1px solid hsla(194, 82%, 43%, 1);
  border-radius: 4px;
}

.ErrorMessage {
  display: block;
  color: hsla(15, 100%, 40%, 1);
  margin: 14px 0px 14px 0px;
}
