.TextInput {
  margin: 0.25rem 1rem 1rem 0;
}

.FieldRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.FieldColumn {
  margin-right: 1rem;
}

.ErrorMessage {
  display: block;
  color: var(--error);
  margin: 14px 0px 14px 0px;
}

.CheckBoxInput {
  margin-right: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.ConsentContainer {
  padding-top: 1vh;
  margin-top: 5vh;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  background: var(--light-gray);
}

.ConsentCheckbox {
  margin: 32px;
}

.ConsentCheckbox .ErrorMessage {
  margin-top: 0;
}

.ConsentCheckbox .ErrorMessage {
  margin-top: 0;
}

a > img {
  margin: 0 0 -0.25rem 0.25rem;
}

@media screen and (max-width: 1023px) {
  .ConsentContainer {
    margin-top: 35px;
  }
}
