.PhoneNumberInput {
	width: 200px;
	height: 28px;
	border: 1px solid hsla(194, 82%, 43%, 1);
	border-radius: 4px;
}

.TextInput {
	width: 200px !important;
	height: 28px !important;
	border: none !important;
}

.DropdownButton {
	border: none !important;
}

.PhoneNumberInput label {
	font-size: 0.875em;
  }
  
  .PhoneNumberInput span {
	font-size: 0.875em;
  }
  
  .PhoneNumberInput p {
	font: normal normal normal 16px/24px PT Sans;
	letter-spacing: 0;
	color: hsla(194, 91%, 21%, 1);
  }
  
  .PhoneNumberInput input {
	font: normal normal normal 16px/24px PT Sans;
	color: hsla(0, 0%, 16%, 1);
  }
  
  .PhoneNumberInput input:focus {
	outline: 1px solid hsla(194, 82%, 43%, 1);
  }
  
  .PhoneNumberInput button {
	width: 17vw;
	margin-top: 5vh !important;
  }