.PhoneNumberInput {
  height: 30px;
  width: 265px;
  font-size: 1rem;
  background: var(--white) 0 0 no-repeat padding-box;
  border: 1px solid var(--secondary-blue);
  border-radius: 4px;
  color: var(--black);
}

.TextInput {
  height: 30px !important;
  width: 260px !important;
  border: none !important;
  font-size: 1rem !important;
  color: var(--black) !important;
}

.DropdownButton {
  border: none !important;
}

.PhoneNumberInput input:focus {
  outline: 3px solid var(--secondary-blue);
}

.PhoneNumberInput .DropdownButton div:focus {
  outline: 3px solid var(--secondary-blue);
}
