.RadioButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RadioButton label {
  margin-bottom: 0 !important;
}

.RadioButton input {
  margin-bottom: 0.5rem;
  margin-right: 8px;
  background: var(--white) 0% 0% no-repeat padding-box;
  height: 17px;
  width: 17px;
  -webkit-appearance: radio;
}

.RadioButton:hover {
  color: hsla(195, 100%, 47%, 1);
  cursor: pointer;
}

.RadioButtonInput:disabled,
.RadioButtonInput:disabled ~ label {
  color: var(--secondary-gray);
  cursor: not-allowed;
}

.RadioButtonLabel {
  display: inline-block;
  width: 17%;
  vertical-align: text-top;
  font-size: 0.875em;
  color: inherit;
  cursor: inherit;
}

.RadioButtonExtraLabel {
  display: inline-block;
  color: inherit;
  cursor: inherit;
}


@media screen and (min-width: 768px) and (max-width: 1020px) {
  .RadioButton {
    padding-right: 3%;
    align-items: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) and (orientation: landscape) {
  .RadioButton {
    padding-right: 3%;
    align-items: center;
    margin-left: 0;
  }
}
