.MainContainer {
  padding-right: 0;
}

.FilterContainer {
  padding: 1.5rem;
  background-color: var(--decoration-blue);
}

.FilterContainer hr {
  margin-top: 1.5rem;
  border: 1px solid var(--secondary-blue);
}

.ResultCount {
  font-size: 21px;
}

.Upcoming {
  margin: 29px 0 14px 0;
}

.MobileSeparator {
  padding-top: 30px;
  background-color: var(--white);
}

.SpinnerContainer {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 620px) {
  .Upcoming {
    font-size: 16px;
  }
}

/* Tablet portrait */
@media screen and (max-width: 1024px) {
  .FilterContainer hr {
    margin-top: 3vh;
  }
  .MainContainer {
    margin: 0;
    width: 100%;
    padding-left: 0;
  }
}
