.Header {
  display: flex;
  height: 50px;
  width: 100%;
  top: 0;
  background-color: var(--primary-blue);
  justify-content: center;
  align-items: center;
  z-index: 90;
  border-bottom: 3px solid var(--secondary-blue);
}

.Header nav {
  height: 100%;
}

.RegistrationHeader {
  top: 0;
  color: var(--primary-blue);
  font-weight: 600;
  background-color: var(--white);
  background-size: 2.2em;
  border-bottom: 3px solid var(--secondary-blue);
  margin-bottom: 0 !important;
  display: grid;
  grid-template-columns: 33% 66%;
  grid-column-gap: 10px;
  width: 100%;
  align-items: center;
  min-height: 60px;
}

.RegistrationHeader img {
  padding-left: 2vw;
}

.HeaderTabsContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline-flex;
}

.SkipLink {
  text-decoration: none;
  color: var(--primary-blue);
  left: 200px;
  border: 1px solid var(--primary-blue);
  padding: 4px;
  position: absolute;
  transform: translateY(-300%);
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  -o-transform: translateY(-300%);
}

.SkipLink:focus {
  transform: translateY(0%);
}

/* Mobile & Tablet view */
@media screen and (max-width: 1024px) {
  .RegistrationHeader {
    grid-template-columns: repeat(2, 1fr);
    height: 72px;
    font-size: 1.125em;
    background-size: 3.5em;
    padding-top: 2%;
  }
}
