.Container {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin: auto 0;
}

/** Hide default checkbox */
.CbInput {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.Container input:focus + .CbLabel {
  outline: 3px solid var(--secondary-blue);
}

.CbLabel {
  cursor: pointer;
}

.CbLabel::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  border: 1px solid var(--black);
  background-color: var(--white);
  margin-right: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.Container input:checked + .CbLabel:before {
  background: url('../../../assets/svg/checkbox-blue-checkmark.svg') center/12px
    no-repeat;
  background-color: var(--white);
  background-size: 1.15em;
}
