.DescriptionItem {
  display: block;
}

.DescriptionItem h4 {
  margin: 0 0 9px 0;
  font: normal normal bold 21px/24px PT Sans;
  letter-spacing: 0;
  color: var(--primary-blue);
}

.DescriptionItem article {
  text-align: left;
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: var(--primary-blue);
}

.LanguageLevel {
  display: block;
  text-align: center;
  margin-right: 5%;
}

.LevelHr {
  border: 1px solid var(--secondary-blue) !important;
}

.RowItem {
  display: flex;
  margin-bottom: 5%;
}

.RowItem article {
  margin-right: 4vw;
}

.DescriptionItem hr {
  border: 1px solid var(--decoration-blue);
  opacity: 0.5;
}

@media screen and (max-width: 425px) {
  .RowItem article {
    margin-right: 25px;
  }
}
