a:hover {
  cursor: pointer;
}

.ActiveTab,
.InactiveTab {
  width: 258px;
  font: normal normal bold 20px/26px PT Sans;
  letter-spacing: 0.6px;
}

.InactiveTab {
  color: var(--primary-blue);
}

.ActiveTab {
  background: var(--primary-blue) 0 0 no-repeat padding-box !important;
  color: var(--white) !important;
}

.LinkButton {
  height: 100%;
  width: 100%;
  text-decoration: none !important;
  font: normal normal bold 20px/26px PT Sans;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.ActiveTab .LinkButton {
  color: var(--white) !important;
}

.InactiveTab .LinkButton {
  color: var(--primary-blue);
}

.ScrollableMenuWrapper {
  height: calc(100vh - 72px);
  overflow-y: scroll;
}

/* Large screens */
@media screen and (min-width: 1440px) {
  .ActiveTab {
    width: 290px;
  }

  .InactiveTab {
    width: 290px;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ActiveTab,
  .InactiveTab {
    height: 9vw !important;
  }
}

/* Mobile view */
@media (max-width: 1024px) {
  .LinkButton {
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .ActiveTab,
  .InactiveTab button {
    margin-top: 0;
  }

  .ActiveTab,
  .InactiveTab {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .ActiveTab .LinkButton {
    color: var(--white) !important;
  }

  .InactiveTab .LinkButton {
    color: var(--primary-blue);
  }
}
