.ArticleContent {
  text-align: left;
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: var(--primary-blue);
  margin-bottom: 10%;
}

.ArticleContent p {
  margin-bottom: 0 !important;
}

.ArticleContent p:nth-of-type(5),
.ArticleContent p:nth-of-type(6),
.ArticleContent p:nth-of-type(7) {
  margin: 0;
}

.ArticleContent p:last-of-type {
  margin-top: 20px;
}

/* Mobile view */
@media screen and (max-width: 425px) and (orientation: portrait) {
  .ArticleContent {
    max-width: 425px;
  }

  .ArticleContent p {
    margin-bottom: 25px;
  }

  .ArticleContent p:nth-child(2) {
    margin-bottom: 50px;
  }

  .ArticleContent p:last-child {
    margin-bottom: 50px;
  }
}

/* Mobile view */
@media screen and (max-width: 760px) and (orientation: landscape) {
  .ArticleContent p {
    margin-bottom: 25px;
  }

  .ArticleContent p:nth-child(2) {
    margin-bottom: 50px;
  }

  .ArticleContent p:last-child {
    margin-bottom: 50px;
  }
}
