.SelectorContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  align-items: center;
  height: 100%;
  color: var(--primary-blue);
}

.SelectorContainer img {
  margin-right: 10px;
  color: var(--primary-blue);
}

.LanguageSelect {
  /* disable default browser style of selector */
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  /* custom styling */
  background-image: url('../../assets/svg/blue-arrow-down.svg');
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 7px;
  width: 90px;
  border: none;
  cursor: pointer;
  color: var(--primary-blue);
  font: normal normal normal 18px/24px PT Sans;
}

.LanguageSelect:hover {
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .LanguageItem,
  .LanguageItemActive {
    height: 9vw !important;
  }
}

@media screen and (max-width: 1024px) {
  .SelectorContainer img {
    display: none;
  }
  .MobileMenuItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .LanguageItem,
  .LanguageItemActive {
    height: 10vh;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2vh;
    border: none;
    letter-spacing: 0.6px;
    font: normal normal bold 21px/24px PT Sans;
  }

  .LanguageItem {
    background: var(--white);
    color: var(--primary-blue);
  }
  .LanguageItemActive {
    background: var(--primary-blue) 0 0 no-repeat padding-box !important;
    color: var(--white) !important;
  }
  .MobileMenuItems hr {
    width: 70vw;
    border: 1px solid var(--primary-blue);
  }
}
