.Form {
  padding: 1rem;
}

.Form label {
  font-size: 0.875em;
  font-weight: bold;
}

.SelectedLanguages {
  margin-top: 0.5rem !important;
  margin-bottom: 0 !important;
}

.ExamDateGrid {
  display: grid;
}

.DatePeriodGrid {
  display: grid;
  grid-template-columns: 200px 5px 200px;
  grid-gap: 20px;
}

.LanguageAndLevelGrid {
  display: grid;
  grid-template-columns: 210px 210px 150px;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.LanguageAndLevelGrid:first-child {
  grid-row-gap: 0 !important;
}

.DatePickerWrapper > input {
  width: 200px;
  height: 35px;
  margin-bottom: 20px;
  margin-top: 8px;
  color: hsl(0, 0%, 0%);
}

.DatePickerWrapper.Disabled > input {
  color: hsl(0, 0%, 83%);
  background-color: hsl(0, 0%, 93%);
}

.ExamLevels {
  width: 210px;
  margin-top: 1vh;
  cursor: pointer;
  font: normal normal normal 16px/24px PT Sans;
  padding: 8px;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
  border-radius: 2px;
}

.ActionButtonsGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 220px 0;
  grid-gap: 20px;
}

.ActionButtonsGrid button {
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 12px;
  border-radius: 2px;
  width: 220px;
}

.ConfirmButton {
  background-color: #00516b;
  color: white;
}

.DeleteButton {
  background-color: hsla(358, 75%, 57%, 0.85);
}

.DisabledButton {
  background-color: hsl(0, 0%, 83%);
}

.AddLanguageButton {
  margin-top: 0.5rem;
  border: none;
  padding: 12px;
  width: 50%;
  color: hsla(0, 0%, 100%, 1);
}

.AddLanguageButton.Active {
  background-color: hsla(199, 77%, 43%, 0.95);
}

.AddedLanguages span {
  display: flex;
  margin: 0 !important;
}

.AddedLanguages p {
  margin: 0.2em !important;
  margin-left: 0.5rem !important;
}

.EditViewTop {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-gap: 20px;
}

.PostAdmission {
  margin-top: 1em;
}

.PostAdmissionContainer {
  display: grid;
  /*grid-template-columns: 160px 150px 150px 5px 150px;*/
  /*grid-template-columns: 160px 110px 300px 5px 300px;*/
  grid-template-columns: 160px 110px 650px;
  grid-gap: 20px;
}

.Toggle {
  display: flex;
}

.Toggle p {
  font-size: 14px;
}

.PostAdmissionContainer label {
  margin-block-start: 12px;
}

.PostAdmissionContainer p {
  margin-block-start: 20px;
  margin-block-end: 0;
  margin-inline-start: 1em;
  margin-inline-end: 0;
  padding-right: 20px;
}

.Label {
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ModalTitle {
  margin-top: 0;
  padding-bottom: 1.25rem;
}
