.Button,
.ButtonInActive {
  width: 8.5rem;
  margin: 0 0 0 3rem;
}

.ButtonInActive {
  background-color: #8b8b8b;
  color: hsl(0, 0%, 100%);
}

.MainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.TextContainer {
  border: 1px solid #149ecb;
  padding: 0 10px;
  border-radius: 5px;
  height: 2.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: row;
  width: 23.75rem;
  align-items: center;
  justify-content: space-between;
}

/* Mobile view */
@media screen and (max-width: 425px) and (orientation: portrait) {
  .Button,
  .ButtonInActive {
    margin: 0 0 0 1rem;
  }
}

/* Mobile view */
@media screen and (max-width: 760px) and (orientation: landscape) {
}
