.Header {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.Header p {
  display: inline-flex;
  font-size: 1.125em;
}

.HiddenContent {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
