.PaymentsReport {
  margin: auto;
  width: calc(100% - 170px);
  max-width: 1440px;
  min-width: 300px;
  height: 100%;
  align-items: center;
}

.PaymentsReport p {
  margin-bottom: 1rem;
}

.PaymentsReport h1 {
  padding: 30px 0;
  margin: 0;
}

.DateGrid {
  padding-top: 1rem;
  display: grid;
  grid-template-areas:
    "a b"
    "a b"
    "a b";
  grid-template-columns: 50px 150px;
  align-items: center;
  grid-gap: 20px;
  max-height: 90px;
}

.DatePickerWrapper > input {
  width: 150px;
  height: 35px;
  color: hsl(0, 0%, 0%);
}

.DownloadButtonWrapper > button {
  margin-bottom: 20px;
  margin-top: 8px;
  width: 150px;
}