.Sort {
  text-align: left;
  font: normal normal bold 16px/24px PT Sans;
  letter-spacing: 0;
  color: white;
  margin: 15px 0 20px 0;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  background-color: hsla(194, 91%, 21%, 1);
}

.Sort:hover {
  text-decoration: underline;
}

.ReEvaluationList table {
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.HeaderColumn,
.TableColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.25rem;
  justify-content: center !important;
  border-right: 1px solid var(--secondary-blue);
}

.ColumnHeaders {
  background: var(--primary-blue) 0 0 no-repeat padding-box;
  text-align: left;
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1.25fr;
}

.SortIcon {
  width: 10px;
}

.TableColumn:last-child,
.HeaderColumn:last-child {
  border-right: none;
}

.List {
  display: block;
}

.List:nth-child(odd) {
  background-color: hsla(194, 82%, 43%, 0.2);
}

.NotFound {
  font: normal normal bold 16px/24px PT Sans;
  color: var(--primary-blue);
}

.MobileRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--secondary-blue);
}

.MobileRow:nth-child(2) {
  justify-content: end;
}

@media (min-width: 1024px) {
  .Date {
    margin-bottom: -2px;
  }

  .HeaderColumn {
    height: 4vh;
  }

  .List {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1.25fr;
  }
}

/* Tablet landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ColumnHeaders {
    height: 6vh;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1.25fr 1.25fr;
  }
  .HeaderColumn,
  .TableColumn {
    padding: 0 0.25rem;
    text-align: center;
  }
  .List {
    display: grid;
    grid-template-columns: 1fr 1fr 1.25fr 1.25fr;
  }
}

/* Mobile screens  */
@media screen and (max-width: 768px) {
  .ColumnHeaders {
    display: none;
  }
  .TableColumn {
    border-right: none;
  }
  .List {
    display: block;
    padding: 1rem;
    margin-top: 1rem;
  }
}
