.Sort {
  text-align: left;
  font: normal normal bold 16px/24px PT Sans;
  letter-spacing: 0;
  color: white;
  margin: 15px 0 20px 0;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  background-color: hsla(194, 91%, 21%, 1);
}

.Sort:hover {
  text-decoration: underline;
}

.Date {
  margin-bottom: 20px;
}

.HeaderColumn,
.TableColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 2px solid hsla(194, 82%, 43%, 1);
}

.ColumnHeaders {
  background: hsla(194, 91%, 21%, 1) 0 0 no-repeat padding-box;
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: hsla(0, 0%, 100%, 1);
  padding: 0px 10px 0 10px;
}

.SortIcon {
  width: 10px;
}

.TableColumn:last-child,
.HeaderColumn:last-child {
  border-right: none;
}

.List:nth-child(odd) {
  background-color: hsla(194, 82%, 43%, 0.2);
}

.NotFound {
  font: normal normal bold 16px/24px PT Sans;
  color: hsla(194, 91%, 21%, 1);
}

.List {
  padding: 0 0.5rem;
}

@media (min-width: 1024px) {
  .Date {
    margin-bottom: -2px;
  }

  .Date:last-child {
    margin-bottom: 0;
  }

  .ExamsOnDate {
    display: flex;
  }

  .ColumnHeaders {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1.25fr;
    align-items: end;
    padding: 0px 10px 0 10px;
  }

  .ColumnHeaders > div:nth-child(4),
  .ColumnHeaders > div:nth-child(5) {
    justify-self: center;
  }

  .HeaderColumn {
    height: 4vh;
  }

  .List {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1.25fr;
  }
}

/* Tablet landscape */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .ExamsOnDate {
    display: none;
  }
  .ColumnHeaders {
    height: 6vh;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: end;
    text-align: left;
    padding: 0px 20px 0px 20px;
  }
  .List {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}

/* Mobile screens landscape */
@media screen and (max-width: 1023px) {
  .ColumnHeaders {
    display: none;
  }
  .ExamsOnDate {
    display: none;
    padding-left: 5vw;
  }
  .List {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}
