.Return {
  text-decoration: none;
  font: normal normal bold 16px/24px PT Sans;
  letter-spacing: 0;
  color: var(--primary-blue);
  cursor: pointer;
  padding-left: 15px;
  background: url('../../../assets/svg/chevron-blue.svg') no-repeat 0 center;
}

.Return:hover,
.Recover:focus {
  text-decoration: underline;
}
