.Date {
  margin-bottom: 20px;
}

.ExamsOnDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-gray);
  font-size: 14px;
  padding: 5px 5px 5px 20px;
}

.ColumnHeaders {
  background: var(--primary-blue) 0 0 no-repeat padding-box;
  text-align: left;
  font: normal normal normal 16px/24px PT Sans;
  letter-spacing: 0;
  color: var(--white);
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 1.5fr 1.2fr 0.6fr 1fr;
  grid-row-gap: 5px;
  padding: 0px 10px;
}

th {
  border-left: 2px solid var(--secondary-blue);
  padding: 5px 5px 5px 10px;
  display: flex;
  align-items: center;
}

th:first-child {
  border-left: none;
}

.NotFound {
  font: normal normal bold 16px/24px PT Sans;
  color: var(--primary-blue);
}

/* .Date {
    margin-bottom: -2px;
  }

  .Date:last-child {
    margin-bottom: 0;
  } */

.ExamsOnDate {
  display: flex;
}

.List {
  display: grid;
}

/* Tablet landscape */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .ExamsOnDate {
    display: none;
  }
  .ColumnHeaders {
    height: 6vh;
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.6fr 1.9fr 0.9fr 0.9fr 0.6fr 1fr;
    align-items: end;
    text-align: left;
    padding: 5px 20px 5px 20px;
  }

  .List {
    display: block;
  }
}

/* Mobile screens landscape */
@media screen and (max-width: 1023px) {
  .ColumnHeaders {
    display: none;
  }
  .ExamsOnDate {
    display: none;
    padding-left: 5vw;
  }
<<<<<<< HEAD
=======
  .List {
    display: block;
  }
>>>>>>> e39a9ba (desktop view fixed)
}
